body {
  /*margin: 0px;*/
  background-color: #999;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#bg {
  background: url('../image/sunset.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position:absolute;
}

#container {
  /*background: url('../image/sunset.jpg');*/
  background-color: #00000080;
  background-position: center;
  overflow: auto;
  position: absolute;
  background-size: cover;
  vertical-align: middle;
  max-width: 24em
  float: none;
  width: 100%;
  height: 100%
}

.header {
  max-width: 800px;
  color: #ffffff;
  font-family: 'Rubik', sans-serif;
  margin: auto;
}

#image {
  background: url('../image/me2.jpg') no-repeat;
  background-size: cover;
  margin: 20px auto;
  border-radius: 50%;
  width: 14em;
  height: 14em;
}

#center {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 30em;
  transform: translate(-50%, -50%);
}

#about {
  overflow: auto;
  font-size: 1.2em;
  padding: 40px;
  font-family: Courier New, Helvetica, monospace;
  color: #ffffff;
  margin: 16px auto;
  max-width: 800px

}

#about a {
  color: #FFFF00;
  text-decoration: none;
}

#name {
  color: #ffffff;
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  /*border-style: groove;*/
  /*border-bottom: thick solid #333333;*/

}

#left {
  overflow: hidden;
  float: left;
  /*padding: 2em;*/
  display: inline-block;
  width: 14em;
}

#right {
overflow: hidden;
/*padding: 10px;*/
float: right;
display: inline-block;
width: 14em;
}

.description {
  color: #333366;
  font-size: 1em;
  text-align: left;
  /*float: right;*/
  /*width: 50%*/
}

.icon{
  height: 48px;
  width: 48px;
  vertical-align: middle;
}

.divider {
    border: 0;
    max-width: 800px;
    margin: 4px auto 4px auto;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2));
}

.social {
  max-width: 56px;
  max-height: 56px;
  padding: 8px;
}

#find_me {
  width: 360px;
  margin: auto;
  /*background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));*/
}
